# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
.navigation
captures/
output.json

.dart_tool
android
ios
test
.packages
analysis_options.yaml
pubspec.lock
.gitignore